.post__description {
  margin: 0 20px;
  padding: 0;
  width: 730px;
  height: 249px;
  border-radius: 5px;
  position: absolute;
  top: 315px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transition: .3s;
}

.post__description:hover {
  cursor: pointer;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
