@import url(./__head/card__head.css);
@import url(./__title/card__title.css);
@import url(./__subtitle/card__subtitle.css);
@import url(./__title/_first/card__title_first.css);
@import url(./__subtitle/_first/card__subtitle_first.css);


.card {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
