.page__conteiner {
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', 'Arial', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* div {
  border: solid 1px red;
} */
